@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #1A237E; /* Navy Blue Accent */
  --secondary: #D4AF37; /* Bronze Accent, just in case */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
